---
import "@/styles/globals.css";
import Base from "../layouts/Base.astro";
import { ToneTags } from "@/components/tonetags/All";
import NewDomain from "@/components/NewDomain"
import Donate from "@/components/Donate"
import type { IToneTag } from "@/types";
const indicators = (await Astro.glob("./tones/*.{md,mdx}")) as IToneTag[];

const isOldDomain = Astro.url.hostname.includes("astrid.sh")

export const prerender = false;
---

<Base title="tonetags" description="in-depth, extensive tonetag dictionary.">
  <main class="prose w-3/4 md:w-2/4 mx-auto mt-[5rem]">
    <div class="flex items-center justify-center flex-col">
      <NewDomain oldDomain={isOldDomain} client:load/>
      <Donate client:load/>
      <p>
        <small class="text-neutral-500">tone tags</small>
        <br />
        welcome to the tone tag dictionary!<br />
        <br />tone tags are indicators used within speech to help readers
        understand tone. <br />they're often used by people with neurodiversity,
        and they tend to help out a lot.<br /> below are <span class="italic"
          >some</span
        > tone tags, but be aware it's not an exhaustive list.
      </p>
    </div>
    <div class="flex items-center justify-center flex-col mt-12">
      <div class="w-fit grid gap-4 grid-cols-2 lg:grid-cols-3">
        <ToneTags posts={indicators} />
      </div>
    </div>
  </main>
</Base>
