<div class="hidden md:blockfixed bottom-0 left-0 right-0 w-fit mx-auto">
  <hr class="border-t-neutral-700" />

  <footer class="p-4 text-neutral-400 flex items-center justify-center">
    <p class="text-neutral-400">
      Open source tone tag dictionary. Please share if this project has helped
      you &lt;3
    </p>
  </footer>
</div>
