<header>
  <h2
    class="text-xl pb-1 flex items-center gap-3 fw100 animate-fade-in animate-count-1 animate-duration-1s"
  >
    <a href="/" class="text-white no-underline">tonetag dictionary</a>
    <span class="text-neutral-500">
      <span class="text-pink-300 hover:underline">/</span>
      <span class="text-neutral-300">tones</span>
    </span>
  </h2>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
